<div class="container-fluid">
    <div class="wrapper">
        <div class="header-tools d-flex flex-row-reverse">
            
            <button type="button" class="btn btn-success ml-2" title="Save your form">Save (Coming soon)</button>
            <button type="button" class="btn btn-primary"  title="Import your data">
                <span><i class="fas fa-file-import"></i></span>
                Import Data (Coming soon)
            </button>
        </div>
        <div class="row pt-2 px-4">
            <div class="col-xl-8">
                <app-right-workplace (data)="onDataChange($event)"></app-right-workplace>
            </div>
            <div class="col-xl-4">
                <app-left-workplace [data]="model"></app-left-workplace>
            </div>
        </div>
    </div>
</div>
<app-json-preview [data]="model"></app-json-preview>